<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chat.Properties.Settings.ChatConnectionString" connectionString="Data Source=desktop-7n0goof;Initial Catalog=Chat;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="sws_chatSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54122/sws_chat.asmx" binding="basicHttpBinding"
                bindingConfiguration="sws_chatSoap" contract="serv.sws_chatSoap"
                name="sws_chatSoap" />
        </client>
    </system.serviceModel>
</configuration>